html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Futura PT', 'Arial', sans-serif;
    background-color: #2576B1;
}

.container {
    margin-top: 50px;
    max-width: 950px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box {
    z-index: 1;
    position: relative;
}

img {
    box-shadow: 0 1px 15px black;
}

.box__info {
    top: 25px;
    z-index: -1;
    left: -25px;
    position: absolute;
    width: 335px;
    height: 585px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 395px;
    border-radius: 5px 5px 0 0;
    transform-origin: top;
    transform: scale(0);
    transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.box:hover{
    z-index: 5;
}
.box:hover .box__info {
    transform: scale(1);

}

.btn {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 50px;
    top: 100%;
    border: none;
    border-radius: 0 0 5px 5px;
    background-color: #222;
    color: #fff;
    transition: background-color 0.3s ease;
}

.box__info p {
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-top: 5px;
    
}

.box__info h3 {

    text-transform: uppercase;
    margin: 0;
}
.box__info s {
    color: gray;
}

.box__info span {
    font-size: 20px;
    color: lightgreen;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    margin-top: 35px;
}

.btn:hover{
    background-color: lightgreen;
}